

<div class="center pad_some_sides white_text">
    <div class="box_shadow">
        <h1 class="main_header">
            About us
        </h1>
        <h2 class="main_description">
            iDeel is an online web application that allow students to search for temporary and part-time job, and let small
            businesses find on-demand part-time workers quickly.

            Think of the employees as contractors being hired temporarily. This idea is geared towards those
            who may need some extra cash and want to find small jobs to do that fit their schedule. <br /> <br />

            Give it a shot - it's <em><strong>free</strong></em>! We hope you find it iDeal here :) <br /> <br />


        </h2>

    </div>
</div>
